<!DOCTYPE HTML>
<html>
<head>

<title>Aling Nena</title>

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='/css/customer.css' rel='stylesheet' type='text/css'>

</head>
<body>
<center>
<div id="container_large">
    <h2>Item Bought!</h2>
      <p><%="Bought #{@to_buy} units of #{@product.name}. Your change is in the following denominations:"%></p>
        <table>
          <tbody>
            <tr>
              <td><IMG SRC="/1.gif" class = "pay_coins" /></td>
              <td class = "change_num"><%= @change[:ones] %></td>
              <td><IMG SRC="/50.jpg" class = "pay_bills" /></td>
              <td><%= @change[:fifties] %></td>
            </tr>
            <tr>
              <td><IMG SRC="/5.png" class = "pay_coins" /></td>
              <td class = "change_num"><%= @change[:fives] %></td>
              <td><IMG SRC="/100.jpg" class = "pay_bills" /></td>
              <td><%= @change[:hundreds] %></td>
            </tr>
            <tr>
              <td><IMG SRC="/10.png" class = "pay_coins" /></td>
              <td class = "change_num"><%= @change[:tens] %></td>
              <td><IMG SRC="/500.jpg" class = "pay_bills" /></td>
              <td><%= @change[:five_hundreds] %></td>
            </tr>
            <tr>
              <td><IMG SRC="/20.jpg" class = "pay_bills" /></td>
              <td class = "change_num"><%= @change[:twenties] %></td>
              <td><IMG SRC="/1000.jpg" class = "pay_bills" /></td>
              <td><%= @change[:thousands] %></td>
            </tr>    
          </tbody>          
        </table>
    <div id="hr"></div>
    <h1>PURCHASE ITEM <a href="/" id="home_x" title="HOME">&#10008;</a></h1>
</div>
</center>
</body>
</html>